@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
/*     border: green solid; */
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: default;
    
}

.more {
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

#seta {
    position: absolute;
    padding: 7px;
    transform: rotate(-135deg);
    box-shadow: 2px -2px 0 1px rgb(25, 0, 255) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    margin-left: 110px;
}

nav span {
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 2px 9px;
    background-color: red;
    border-radius: 50px;
}

nav p {

    font-size: 18px;
}



header {
/*     border: red solid; */
    border-bottom: #222222ff solid 7px;
    height: 750px;
    width: 100vw; 
    
}

header {
    border-top: 10px solid;
    background: url(./img/Wallpaper-Header.jpg);
    background-size: cover;
    background-position: center; 
    position: relative;
    
    
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 150px;
    
    flex-direction: column;
    color: white;
    text-align: center;
}

.center h1 {
    font-size: 60px;
    width: 800px;
    font-weight: 600;
}

.center p {
    font-size: 25px;
    font-weight: 400;
}

.center form {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.form-content {
    position: relative;
}

.center form #email {
    width: 700px;
    height: 70px;
    outline: 0;

}

#email::placeholder {
    padding-left: 10px;
    font-size: 16px;
}

.center form div button {
    position: absolute;
    right: 0;
    width: 200px;
    top: 1px;
    height: 68px;
    font-size: 26px;
    color: #fff;
    background: red;
    padding-right: 10px;
    cursor: pointer;
    border: 1px solid black;
}

#seta2 {
    position: absolute;
    right: 0;
    top: 0;
    margin: 26px 20px;
    padding: 9px;
    transform: rotate(-135deg);
    box-shadow: 2px -2px 0 1px rgb(255, 255, 255) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    
}


.nav-header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
}

.nav-header div {
    display: flex;
    gap: 30px;
}

.nav-header div select {
    height: 35px;
    width: 130px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    padding-left: 30px;
    position: relative;
}

.nav-header div select:focus {
    background: rgb(100, 100, 100);
    outline: 0;
}

#icon-internet {
    margin: 7px;
    position: absolute;
    filter: invert();
}

.nav-header div button {
    color: white;
    border-radius: 2px;
    background-color: red;
    font-size: 16px;
    width: 80px;      
    border: none; 
}

main {
    width: 100vw;
    background: black;
    border-bottom: #222222ff solid 7px;;
}

.sessao-1 {
    height: 465px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: #222222ff solid 7px;

    
}

.sessao-1 div:nth-child(1) {
    
    width: 600px;
    
}

.sessao-1 h2 {
    font-size: 50px;
    font-weight: 600;
}
.sessao-1 p {
    font-size: 24px;
}

.sessao-1 div:nth-child(2) {
    position: relative;
    z-index: 5;
}

.sessao-1 div:nth-child(2) video {
    position: absolute;
    right: 32px;
    top: 60px;
    width: 400px;
    z-index: -5;
}

.sessao-2 {

    height: 530px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-bottom: #222222ff solid 7px;;
    
}

.sessao-2 div:nth-child(1) {
    position: relative;
    z-index: 3;
}

.sessao-2 h2 {
    font-weight: 600;
    font-size: 48px;
}

.sessao-2 p {
    width: 600px;
    font-size: 26px;
}

.sessao-2 div:nth-child(1) video {
    z-index: -6;
    position: absolute;
    left: 97px;
    top: 35px;
    width: 400px;
    border-radius: 10px;
}

.sessao-3 {
    height: 520px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #222222ff solid 7px;
    gap: 100px;
}

.sessao-3 h2 {
    width: 400px;
    font-size: 48px;
    font-weight: 600;
}

.sessao-4 {
    height: 460px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: #222222ff solid 7px;
    
}

.sessao-3 p {
    width: 600px;
    font-size: 26px;
}

.sessao-4 h2 {
    width: 500px;
    font-size: 48px;
    font-weight: 600;
}

.sessao-4 p {
    width: 550px;
    font-size: 26px;
}

.sessao-4 div:nth-child(1) {
    position: relative;
}

.sessao-4 .box-mobile {
    left: 60px;
    position: absolute;
    bottom: 40px;
    height: 110px;
    padding: 10px;
    overflow: hidden;;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    border: #222222ff solid;
    width: 360px;
}
.box-mobile span {
    font-weight: bold;
    font-size: 16px;
}

.box-mobile p {
    font-size: 14.4px;
    color: #0071eb;
}

.box-mobile .content-mobile-box {
    position: absolute;
    top: 30px;
    left: 90px;
}

.icon-download {
    position: absolute;
    top: 30px;
    right: 10px;
}

.icon-download img {
    width: 50px;
}




/* Feat. @Weler */


.section-5 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 70px;
    color: white;
    border-bottom: #222222ff solid 7px;
}

.section-5>h1 {
    font-size: 48px;
    font-family: 'Helvetica';
    letter-spacing: 0.7px;
}

.options-container {
    gap: 4px;
    width: 66.5%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.option {
    background-color: #303030;
    height: 75px;
    padding: 0px 30px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    font-family: 'Helvetica';
}

.option-img {
    width: 40px;
    height: 40px;
}

.option-expand-1,
.option-expand-2,
.option-expand-3,
.option-expand-4,
.option-expand-5,
.option-expand-6,
.option-expand-7 {
    height: 0px;
    transition: 0.1s;
    background-color: #303030;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

/*Class for JavaScript*/
.option-expand-on {
    margin-top: -3px;
    padding: 30px 30px;
    height: fit-content;
    transition: 0.1s;

}

.saiba-mais {
    text-decoration: underline;
    color: white;
}


.options-container>div:hover {
    cursor: pointer;
}

.email-container {
    width: 100%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.email-container>p {
    font-size: 18px;
    margin-bottom: 15px;
    width: 100%;
}

.email-container-interno {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.email-container-interno>input {
    width: 650px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    height: 60px;
}

.btn-assinatura {
    width: 180px;
    background-color: #F40612;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 60px;

}

.btn-assinatura>p {
    font-size: 24px;
}

.btn-assinatura>img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 20px;
    margin: 0px;
}


footer {
    color: #737373;
    justify-content: center;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.footer-container {
    width: 910px;
    margin: auto;
}

.footer-container>p {
    margin-bottom: 15px;
}

.f-container-ul {
    width: 90%;
    gap: 70px;
    display: flex;
    margin-bottom: 10px;

}

.f-container-ul>ul {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.f-container-ul>ul>li {

    font-size: 13px;
    letter-spacing: 0.5px;
}
.f-a{
    color: #737373;
}

.nav-header div select {
    height: 35px;
    width: 130px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    padding-left: 30px;
    position: relative;
}

.nav-header div select:focus {
    background: rgb(100, 100, 100);
    outline: 0;
}





.f-select-div {
    display: flex;

}

.f-select-div>select {
    width: 160px;
    height: 55px;

    border: 1px solid #73737386;
    color: #898989;
    font-size: 16px;
    background: url("./img/internet-svgrepo-com.svg");
    background-position: right 5px top 50%;
    padding-left: 50px;
}

.f-select-div>select>option {
    background-color: #000000;
}

.f-select-div>#icon-internet {
    position: relative;
    left: -150px;
    width: 16px;


}

.footer-container>p {
    margin-top: 10px;
}


@media screen and (max-width: 950px) {

    .options-container {
        width: 100%;
    }

    footer {
        padding: 10px 50px;
        padding-top: 60px;
    }

    .section-5>h1 {
        font-size: 38px;
    }

    .options-container {
        width: 95%;
        margin-top: 30px;
    }

    .option {
        height: 57px;
        font-size: 20px;
        padding: 0px 25px;
    }

    .email-container>p {
        width: 100%;
        font-size: calc(10px + 1vw);
        line-height: 24px;
        overflow: hidden;
        margin-top: -5px;
    }

    .email-container-interno {
        width: 500px;
        gap: 10px;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .btn-assinatura {
        height: 40px;
        width: 120px;
        font-size: 15px;
    }

    .btn-assinatura>p {
        font-size: 15px;
    }

    .btn-assinatura>img {
        width: 15px;
    }

    .footer-container {
        width: 90%;
    }

    .f-container-ul {
        width: 100%;
        gap: 10px;
    }
}

@media screen and (max-width: 730px) {

    .email-container-interno>input {
        height: 50px;
    }
}

@media screen and (max-width: 560px) {
    .section-5 {
        padding: 0;
    }

    .section-5>h1 {
        font-size: calc(22px + 1vw);
        margin-top: 50px;
        margin-bottom: -10px;
    }

    .option-expand-1, .option-expand-2, .option-expand-3, .option-expand-4, .option-expand-5, .option-expand-6, .option-expand-7 {

            font-size: 18px;
        }

        .email-container {
            margin-top: 30px;
        }

        .email-container-interno {
            width: 90%;
        }

        .option {
            height: 50px;
        }

        .option-img {
            width: 30px;
            height: 30px;
        }

        .options-container {

            width: 100%;
        }
    }
    @media screen and (max-width: 510px) {
        footer{
            padding: 10px;
        }
        .footer-container{
            margin-top: 20px;
        }
        
        .f-container-ul > ul > li{
            font-size: 10px;
        }
        .option{
            font-size:18px;
            text-align: left;
            padding: 10px 20px;
            overflow: hidden;
            height: auto;
        }
    }