*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color:#141414;
    color: white;
    font-family: 'Helvetica';
}
header{
    width: 100%;
    height: 68px;
    padding: 15px 55px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0px;
}
header > img {
    height: 27px;
    width: 95px;
}
header > ul {
    display: flex;
    gap: 15px;
}
header > ul > li {
    list-style: none;
    font-size: 15px;
    font-weight: bold;
}
p{
    font-size: 19px;
}

.preview-container{
    height: 650px;
    display: flex;
    position: relative;
    top: -0px;
}

.preview-cover{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.778);
    background-blend-mode: darken;
}


.popular-container {
    width: 100%;
    border: 1px solid green;
}

.preview-left-info-hide{
    display: none;
}
.preview-left-info-hide-show{
    width: 500PX;
    height: 500px;
    position: absolute;
    left: 40px;
    padding: 15px;
    top: 150px;
    display: block;
}

.preview-title{
    width: 100%;
    margin: 0px;
    font-size: 60px;
}
.preview-general-info_container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-popularity{
    color: rgb(0, 239, 0);
    font-size: 17px;
    font-weight: bold;
}
.movie-release-date{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.movie-age{
    height: 70%;
    width: 30px;
    border-radius: 1px;
    color: white;
    font-size: 21px;
    background-color: orangered;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.top-5{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}
.movie-duration{
    font-size: 18px;
    font-weight: bold;
}
.movie-description{
    font-size: 16px;
    letter-spacing: 0.5px;
    color: white;
    font-weight: bold;
}
.btn-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;

}
.btn-assistir{
    width: 140px;
    border: navajowhite;
    border-radius: 4px;
    height:40px;
    background-color: white;

    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-left:20px;
    letter-spacing: -0.3px;


    
}
.btn-assitir-svg{
    display: block;
    content: '';
    width: 0px;
    height: 0px;
    background-color: black;
    position: relative;
    left: -90px;
    border: 10px solid transparent;
    border-left:10px solid black;
    background-color: transparent;
}
.btn-minha-lista{
    width: 220px;
    border: navajowhite;
    border-radius: 3px;
    height:40px;
    background-color: rgba(203, 203, 203, 0.323);
    border-radius: 2px ;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:20px;
    border-radius: 4px;
    font-weight: bold;
}

.movies-section{
    padding: 0px 50px;
    position: relative;
    top: -80px;
}

.my-list {
    height: 180px;
    width: 100%;
    gap: 10px;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-top: 10px;
}
.my-list-movies-container{
    height: 180px;
    width: 100%;
    gap: 10px;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-top: 10px;

}
.my-list > p {
    position: relative;
    color:red;
}

.popular-movies-container{
    height: 180px;
    width: 100%;
    gap: 10px;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-top: 10px;
}

.card:hover {
    cursor: pointer;
}

.card-img {
    height: 130px;
    width: 220px;
    overflow: scroll;
    z-index: 2;
    transition: 0.1s;
    border-radius: 3px;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.card-img-hover {
    transform: scale(1.2);
    z-index: 5;
    cursor: pointer;
    transition: 0.3s;
}

.card-movie-info{
    height: 130px;
    width: 220px;
    padding: 15px;
    transform: scale(1.2);
    transition: 0.3s;
    position: absolute;

    background-color: rgb(36, 36, 36);
    transition: 0.3s;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
.card-movie-info-hide{
    display: none;
    transform: 0.3s;
}
/* .popular-movies-arrow-l {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.789);
    width: 10px;
    padding: 0px 0px;
    position: absolute;
    left: 50px;
} */

.popular-movies-arrow-r {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.789);
    width: 10px;
    padding: 0px 0px;
    position: absolute;
    right: 10px;
    margin: 0px 20px;
}
.popular-movies-arrow-r:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.738);
}

.btn-info-container{
    width: 100%;
    display: flex;
    gap: 10px;
}

.btn-play{
    height: 26px;
    width: 26px;
    border-radius:100%;
    background-color: white;
}
.btn-plus{
    height: 26px;
    width: 26px;
    border: 1.5px solid rgba(255, 255, 255, 0.594);
    border-radius:100%;
}
.btn-like{
    height: 26px;
    width: 26px;
    border: 1.5px solid rgba(255, 255, 255, 0.594);
    border-radius:100%;
}
.btn-mais-info{
    height: 26px;
    width: 26px;
    border: 1.5px solid rgba(255, 255, 255, 0.594);
    border-radius:100%;
    position: relative;
    right: -50px;
}