body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Helvetica';
}
.preview-container{
    height: 550px;
    display: flex;
    border: 1px solid green;

}
.popular-container {
    width: 100%;
    border: 1px solid green;

}
p{
    font-size: 24px;
}
.popular-movies-container {
    height: 180px;
    width: 97%;
    border: 1px solid red;
    display: inline-block;
    gap: 10px;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    padding-top: 10px;
}

.card {}

.card-img {
    height: 160px;
    width: 240px;
    overflow: scroll;
    z-index: 2;
    transition: 0.1s;
}

.card-img:hover {
    transform: scale(1.1);
    z-index: 5;
    cursor: pointer;
    transition: 0.1s;
}

/* .popular-movies-arrow-l {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.789);
    width: 10px;
    padding: 0px 0px;
    position: absolute;
    left: 50px;
} */

.popular-movies-arrow-r {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.789);
    width: 10px;
    padding: 0px 0px;
    position: absolute;
    right: 10px;
    margin: 0px 20px;
}
.popular-movies-arrow-r:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.738);
}

.preview-left-info{
    width: 40%;
    height: 100%;
    background-color: black;
    position: relative;
    left: 0px;
    padding: 15px;
    padding-top: 70px;
}
.preview-title{
    width: 100%;
    margin: 0px;
    font-size: 60px;
}
.preview-general-info_container{
    width: 100%;

    height: 40px;

    display: flex;
    align-items: center;
    
    gap: 10px;
}
.preview-cover{
    width: 60%;
    height: 100%;
    background-size: cover;
    position: relative;
    right: 0px;
}
.movie-popularity{
    color: green;
    font-size: 17px;
    font-weight: bold;
}
.movie-release-date{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.movie-age{
    height: 70%;
    width: 30px;
    border-radius: 1px;
    color: white;
    font-size: 21px;
    background-color: orangered;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.top-5{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}
.movie-duration{
    font-size: 18px;
    font-weight: bold;
}
.movie-description{
    font-size: 15px;
    color: rgb(175, 175, 175);
}
.btn-container{
    border: 2px solid red;
    margin-TOP: 9PX;
    display: flex;
    gap: 20px;
}
.btn-assitir{
    width: 120px;
    border-radius: 1px;
    height:40px;
    background-color: white;
    border-radius: 2px ;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:20px;


    
}
.btn-assitir-svg{
    display: block;
    content: '';
    width: 0px;
    height: 0px;
    background-color: black;
    position: relative;
    left: -90px;
    border: 10px solid transparent;
    border-left:10px solid black;
    background-color: transparent;
}
.btn-minh-lista{
    width: 120px;
    border-radius: 1px;
    height:40px;
    background-color: rgb(59, 59, 59);
    border-radius: 2px ;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:20px;




}